p{
    background-color: lightgreen;
    border: 2px solid blueviolet;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 30px;


    /* padding: 30px 20px 30px 30px; */

    /* padding: 20px 20px; */
}