p{
    background-color: aqua;
    border: 2px solid black;
    /* position: relative;
    top: 290px;
    left: 500px; */
    /* position: fixed; */
    top: 0;  
    /* bottom: 0;      */
    font-size: 20px;

}
   
p{
    position: sticky;
}